<!doctype html>
{% load static %}
<html>
    <head>        
        <title>Aivle School Chatbot</title>
        <meta charset="utf-8">    
        <link rel="stylesheet" href="{% static 'base.css' %}" />    
    </head>
    <body>
        <header>
            {% comment %} <h1>에이블스쿨 FAQ Chatbot</h1>
            <button><a href="chatgpt/">Chatbot</a></button> {% endcomment %}
            
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <h1>에이블스쿨 FAQ Chatbot</h1>
                    <button><a href="chatgpt/">Chatbot</a></button>
                    {% comment %} <div class="text">Caption Text</div> {% endcomment %}
                  </div>
            </div>
        </header>
        <nav id="navbar">
            <div class="head">
                <h1><a href="/">AIVLE</a></h1>
                <!-- nav -->
                <nav>
                    <div class="logo">
                        <a href="#"><img src="https://aivle.kt.co.kr/tpl/011/img/common/logo.png" alt="AIVLE Logo"></a>
                    </div>
                    <ul class="nav-links">
                        <li><a href="#">About AIVLE</a></li>
                        <li><a href="#">Program</a></li>
                        <li><a href="#">Apply</a></li>
                        <li><a href="#">Q&A</a></li>
                    </ul>
                </nav>
        <main>
            <div id="contents-card">
                <h2>제목</h2>
                {% comment %} <button><a href="chatgpt/">Chatbot</a></button> {% endcomment %}
            
                <div id="skill_info">
                    {% comment %} <h2>사용 기술</h2> {% endcomment %}
                    <li><a href="https://www.djangoproject.com/" target="_blank"></a> 내용</li>
                </div>
            </div>
            
            <div id="contents-card">
                <h2>제목</h2>
                {% comment %} <button><a href="chatgpt/">Chatbot</a></button> {% endcomment %}
            
                <div id="skill_info">
                    {% comment %} <h2>사용 기술</h2> {% endcomment %}
                    <li><a href="https://www.djangoproject.com/" target="_blank"></a>내용</li>
                </div>
            </div>

            <div id="contents-card">
                <h2>제목</h2>
                {% comment %} <button><a href="chatgpt/">Chatbot</a></button> {% endcomment %}
            
                <div id="skill_info">
                    {% comment %} <h2>사용 기술</h2> {% endcomment %}
                    <li><a href="https://www.djangoproject.com/" target="_blank"></a>내용</li>
                </div>
            </div>


        </main>
    </body>
