<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>
<body>
    <header>
    </header>
    <main>
        <section>
            <h2>에이블스쿨은</h2>
            <p>
                <span class="first-part">KT AIVLE School에 대해 궁금한 점을 확인해 보세요</span><br>
                <span class="second-part">문의처 ktaivle@kt.com</span>
            </p><br>
        </section>
